body {
  background: #7FDBFF;
}

button {

  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;

}

.box{

  background-color:#7FDBFF;
  padding: 15px;
  margin: 0;

  float: left;
  width:4em;
  height:4em;
  /* border:1px solid black; */
}

.box.X {
  background: red;
}

.box.Y {
  background: blue;
}
