body {
  /* background: linear-gradient(red, yellow, green); */
  background-image: url("../imgs/rainbow.png");
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 1em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(red,orange,yellow,green,blue,indigo,violet);

}

#player1{
  margin-top: 2em;
  margin-left: 15%;
  margin-bottom: 5em;
}
#player2{
  margin-left: 15%;
}

.box{
  /* background-color:#7FDBFF; */
  /* border:1px solid black; */
  padding: 15px;
  margin: 0;
  vertical-align: middle;
  float: left;
  width:4em;
  height:4em;

}

.box.X {
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
}

.box.Y {
  background: linear-gradient(violet,indigo,blue,green,yellow,orange,red);
}

h4 {
  padding: 1em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: 33%;
  color: #fff;
  display: inline-block;

}

h1 {
  padding: 1em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 1em;
  margin-bottom: 10px;
  color: #fff;
}

h5 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #fff;
}

h4:hover, h1:hover, h5:hover{
  color: gold;
}
